<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="feed" type="application/rss+xml" href="{{ "blog" | absURL}}/index.xml" title="All4Ling">
  <link rel="alternate" type="application/rss+xml" href="{{ "blog" | absURL}}/index.xml" title="All4Ling">
  {{ if or
    (eq .Title "blog")
    (eq .Title "Blog") }}
    <meta name="follow_it-verification-code" content="48GeTgmn756hVhYgnN4n"/>
  {{ end }}
  {{ block "head/resource-hints" . }}{{ partial "head/resource-hints.html" . }}{{ end }}
  {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}
  {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
  {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}
</head>
