{{ define "main" }}
<section class="container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="title w-100 text-center">
      <!--<h1 class="grenze">{{ .Title }}</h1>-->
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
    
    <!-- BEFORE
      <div class="col-lg-12">

        <img src="/images/LBT_zeitshift_facebook_cover_photo_820x360.png" width="100%"/>
       
        <p>
          Zeit.shift is a citizen humanities project aimed at the preservation,
          development and communication of the cultural and textual heritage of
          the historical region of Tyrol.
        </p>
      </div>

      <div class="container mt-5">
      <div class="row text-center">
        <h5>A project by:</h5>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-around align-items-center">
          <a href="https://www.interreg.net/" target="_blank"><img class="mt-2 mb-2" width="230px" height="100%" src="/images/interreg_logo.jpg"/></a>
          <a href="https://www.uibk.ac.at/ulb/" target="_blank"><img class="mt-2 mb-2" width="200px" height="100%" src="/images/innsbruck_logo.png"/></a>
          <a href="https://www.eurac.edu" target="_blank"><img class="mt-3 mb-3" width="170px" height="100%" src="/images/eurac_logo.png"/></a>
          <a href="https://www.tessmann.it/en/home.html" target="_blank"><img class="mt-2 mb-2" width="250px" height="100%" src="/images/tessmann_logo.jpg"/></a>
          <a href="https://www.provincia.bz.it/it/default.asp" target="_blank"><img class="mt-2 mb-2" width="200px" height="100%" src="/images/bozen_provinz.jpg"/></a>
      </div>
    </div>-->

    <!--AFTER-->
      <div class="col-lg-6">
        <img src="/images/LBT_zeitshift_facebook_cover_photo_820x360.png" width="100%" align="left" />
        <p style="font-size: 15pt;">
          A citizen humanities project for the preservation,
          development and communication of the cultural and textual heritage of
          the historical region of Tyrol.
        </p>
      </div>

      <div class="col-lg-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Yv_vSB1Qogs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>   
    
    </div>


    <br /><br />
    <div class="row justify-content-center text-center">
      <h4>📍 Help us locate and tag historical advertisements!</h4>
    </div>

    <div class="row justify-content-center text-center">
      <div class="col-lg-3">
      </div>

      <div class="col-lg-3">
        <a href="https://www.historypin.org/en/zeit-shift/" target="_blank" title="Opens in new tab"><button type="button" class="btn btn-success" style="background-color: #00A984; font-size: 14pt;">🚀 START!</button></a>
        <br /><br />
      </div>

      <div class="col-lg-3">
        <a href="https://all4ling.eurac.edu/zeitshift/historypin/" target="_blank" title="Opens in new tab"><button type="button" class="btn btn-success" style="background-color: #00A984; font-size: 14pt;">📃 INSTRUCTIONS</button></a> 
      </div>

      <div class="col-lg-3">
      </div>
    </div>
        

    </div>
    <br />
  </div>
</section>




<section class="section section-md mt-1 bg-light">
  

  <div class="container">
     <div class="row text-center">
        <h5>A project by</h5>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-around align-items-center">
          <a href="https://www.interreg.net/" target="_blank"><img class="mt-2 mb-2" width="230px" height="100%" src="/images/interreg_logo.png"/></a>
          <a href="https://www.uibk.ac.at/ulb/" target="_blank"><img class="mt-2 mb-2" width="200px" height="100%" src="/images/innsbruck_logo.png"/></a>
          <a href="https://www.eurac.edu" target="_blank"><img class="mt-3 mb-3" width="170px" height="100%" src="/images/eurac_logo.png"/></a>
          <a href="https://www.tessmann.it/en/home.html" target="_blank"><img class="mt-2 mb-2" width="250px" height="100%" src="/images/LBT_transparent.png"/></a>
          <a href="https://www.provincia.bz.it/it/default.asp" target="_blank"><img class="mt-2 mb-2" width="200px" height="100%" src="/images/bozen_provinz.png"/></a>
      </div>
  </div>


<!--BEFORE
  <div class="container">
    <div class="row justify-content-center text-center">
      <h3>Help us!</h3>
      <div class="col-lg-6">
        <h5>📍 Locate and tag adverts</h5>
        <a href="{{ "zeitshift/participate" | absLangURL }}#-historypin">
          <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="filter: brightness(40%) grayscale(20%);" class="d-block w-100" src="/images/historypin.png" alt="Explore newspapers and help make them more searchable">
                <div class="carousel-caption d-none d-md-block">
                  Explore newspapers and help make them more searchable
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <h5>👾 Play a typing game</h5>
        <a href="{{ "zeitshift/participate" | absLangURL }}#-who-killed-ötzi">
          <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="filter: brightness(80%) grayscale(20%);" class="d-block w-100" src="/images/zeitshift/wko_cropped.png" alt="Play a typing game">
                <div class="carousel-caption d-none d-md-block">
                  (COMING SOON)
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
-->

</section>
{{ end }}
{{ define "sidebar-footer" }}



<section class="section section-md mt-1"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-4 col-xl-6">
            <div class="card p-3 mb-2" style="padding: 25px;  border: none;">
                <div class="card-block">
                    <h4 style="text-align: center;"><i class="fa fa-calendar f-left" style="color: #00A984"></i>&nbsp;<span>Start date</span></h4>
                    <h2 style="text-align: center;">11.10.2021</h2>
                </div>
            </div>
        </div>
        
        <!--<div class="col-md-4 col-xl-4">
            <div class="card p-3 mb-2" style="padding: 25px; border: none;">
                <div class="card-block">
                    <h4 style="text-align: center;"><i class="fa fa-users f-left" style="color: #00A984"></i>&nbsp;<span>Contributors</span></h4>
                    <h2 style="text-align: center;">26</h2>
                </div>
            </div>
        </div>-->
        
        <div class="col-md-4 col-xl-6">
            <div class="card p-3 mb-2" style="padding: 25px; border: none;">
                <div class="card-block">
                    <h4 style="text-align: center;"><i class="fa fa-tags f-left" style="color: #00A984"></i>&nbsp;<span>Tagged adverts</span></h4>
                    <h2 style="text-align: center;">249</h2>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>


<!--<section class="section section-md mt-1">
  <img src="/images/ZS_mapNarrow.png" width="100%" style="filter: brightness(100%) grayscale(20%);" class="d-block w-100" alt="Historypin map">
  <div class="carousel-caption d-none d-md-block">
    <!--<p>Our map of adverts from Tyrolean newspapers</p>
  </div>
</section>-->



<section class="section section-sm mt-1">
  <h2 class="h3 mt-3 text-center">Latest news</h2>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">

          
          <div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/citsci-2022-proposal-accepted" | absLangURL }}">CitSci 2022 proposal accepted🎓</a></h3>
              <p>Engaging Citizen Science Conference 2022</p><br />
              
              <a href="{{ "blog/citsci-2022-proposal-accepted" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/citsci-2022-proposal-accepted/citsci2022.png" width="100%" />
              <p><small>Posted February 7, 2022 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>

          <br />


          <div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/2022-01-27/new-collection-added-to-historypin" | absLangURL }}">New collection added to Historypin 📍</a></h3>
              <p>Meraner Zeitung, 1920</p><br />
              
              <a href="{{ "blog/new-collection-added-to-historypin" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/new-collection-added-to-historypin/MEZ_1920_06_19_0034_Page1_Block20.jpg" width="80%" />
              <p><small>Posted January 27, 2022 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>

          <br />


          <!--<div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/öcs-2022-proposal-accepted" | absLangURL }}">ÖCS 2022 proposal accepted 🎓</a></h3>
              <p>7th conference of the Austrian Citizen Science network</p><br />
              
              <a href="{{ "blog/öcs-2022-proposal-accepted" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/öcs-2022-proposal-accepted/ocs2022.png" width="80%" />
              <p><small>Posted January 20, 2022 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>

          <br />

          <div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/open-research-award-2021" | absLangURL }}">Open Research Award 2021 🏆</a></h3>
              <p>The Language Technologies team wins an award for open research</p><br />
              
              <a href="{{ "blog/open-research-award-2021" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/open-research-award-2021/2021_OpenScienceAward_linguistics.jpg" width="50%" />
              <p><small>Posted December 15, 2021 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>

          <br />


          <div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/new-collections-added-to-historypin" | absLangURL }}">New collections added to Historypin📍</a></h3>
              <p>Lienzer Zeitung, 1919, and Pustertaler Bote, 1924<br /><br />
              
              <a href="{{ "blog/new-collections-added-to-historypin" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/new-collections-added-to-historypin/PUB_1924_01_04_0006_Page1_Block12.png" width="50%" />
              <p><small>Posted December 1, 2021 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>

          <br />
          

          <div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/aiucd-2022-proposal-accepted" | absLangURL }}">AIUCD 2022 proposal accepted🎓</a></h3>
              <p>11th annual conference of the Italian Association of Digital Humanities<br /><br />
              
              <a href="{{ "blog/aiucd-2022-proposal-accepted" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/aiucd-2022-proposal-accepted/aiucd2022.jpg" width="50%" />
              <p><small>Posted November 8, 2021 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>

          <br />


          <div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/new-collection-added-to-historypin" | absLangURL }}">New collection added to Historypin🐝</a></h3>
              <p>Tiroler-Vorarlberger Bienen-Zeitung, 1924-1925<br /><br />
              
              <a href="{{ "blog/new-collection-added-to-historypin" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/new-collection-added-to-historypin/bees2.png" width="50%" />
              <p><small>Posted November 4, 2021 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>

          <br />

          <div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/erster-workshop-online" | absLangURL }}">Erster Workshop online</a></h3>
              <p>Wir laden ganz herzlich zum ersten Workshop am 18.10.2021 ein!<br /><br />
              
              <a href="{{ "blog/erster-workshop-online" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/erster-workshop-online/BZN_19210308_07_Page1_Block45.png" width="50%" />
              <p><small>Posted October 14, 2021 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>

          <br />

          <div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/zeit.shift-digital-in-gesterns-zukunft-mach-mit-%EF%B8%8F" | absLangURL }}">Zeit.shift - digital in gesterns Zukunft - Mach mit! 🕵🏼‍♀️</a></h3>
              <p><strong>„Zeit.shift – digital in gesterns Zukunft“</strong> ist der Name eines grenzübergreifenden EU-Projekts zur Bewahrung, Erschließung und Vermittlung des kulturellen Texterbes Gesamttirols, bei dem die Bevölkerung der Europaregion Tirol aktiv zur Mitarbeit eingeladen ist.

              <strong>Was erzählen uns Zeitungen über das Alltagsleben in Tirol vor 100 Jahren?</strong> <br /><br />
              
              <a href="{{ "blog/zeit.shift-digital-in-gesterns-zukunft-mach-mit-%EF%B8%8F" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/zeit.shift-digital-in-gesterns-zukunft-mach-mit-%EF%B8%8F/zs_facebook_logo.png" width="80%" />
              <p><small>Posted October 12, 2021 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>

          <br />

          <div class="card">
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ "blog/say-hello-to-zeit.shift" | absLangURL }}">Say hello to Zeit.shift 👋</a></h3>
              <p>Zeit.shift is our new citizen science project devoted to the <strong>preservation, development and communication of the culture and textual heritage of Tyrol</strong>!<br /><br />
              Can you read <strong>German</strong>? Can you read <strong>Fraktur</strong> script? Wunderbar! Then help us make historical Tyrolean newspapers more searchable and usable!<br /><br />
              <a href="{{ "blog/say-hello-to-zeit.shift" | absLangURL }}">Read more...</a><br /><br />
              <img src="/blog/say-hello-to-zeit.shift/zs_profile_pic.png" width="20%" />
              <p><small>Posted October 11, 2021 by <a class="stretched-link position-relative" href="{{ "contributors/eurac-research" | absLangURL }}">Eurac Research</a></small></p>
            </div>
          </div>-->


      </div>
      <div class="col-lg-6">
        <p><a class="twitter-timeline" data-tweet-limit="2" href="https://twitter.com/all4ling?ref_src=twsrc%5Etfw">Tweets by all4ling</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
      </div>
    </div>
  </div>
</section>


<section class="section section-md mt-1 bg-light">
  <div class="container">
     <div class="row text-center">
        <h5>Featured in</h5>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-around align-items-center">
          <a href="https://eu-citizen.science/project/318" target="_blank"><img class="mt-2 mb-2" width="160px" height="100%" src="/images/eu-citizen-science_transparent.png"/></a>
          <a href="https://www.buergerschaffenwissen.de/projekt/zeitshift-digital-gesterns-zukunft" target="_blank"><img class="mt-2 mb-2" width="200px" height="100%" src="/images/BsW_Logo-WEB_transparent.png"/></a>
          <a href="https://museumsverband.it/de/digital-in-gesterns-zukunft/" target="_blank"><img class="mt-3 mb-3" width="260px" height="100%" src="/images/MV_logo.png"/></a>
          <a href="https://kulturinstitut.org/alle-veranstaltungen/detail/events/Interreg-Projekt%20%E2%80%9EZeit.shift%E2%80%9C.html" target="_blank"><img class="mt-3 mb-3" width="170px" height="100%" src="/images/suedtiroler-kulturinstitut.png"/></a>
          <a href="https://www.bvs.bz.it/news/zeitshift-digital-gesterns-zukunft" target="_blank"><img class="mt-3 mb-3" width="170px" height="100%" src="/images/BVS-Logo-Deutsch.png"/></a>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-around align-items-center">
          <a href="https://www.tiroler-landesmuseen.at/blog_bib_zeit-shift-digital-in-gesterns-zukunft/" target="_blank"><img class="mt-3 mb-3" width="150px" height="100%" src="/images/tiroler_landesmuseen.png"/></a>
          <a href="https://www.tageszeitung.it/2021/11/06/zeit-shift/" target="_blank"><img class="mt-3 mb-3" width="200px" height="100%" src="/images/Logo_Die_Neue_Suedtiroler_Tageszeitung.png"/></a>
          <a href="https://www.chronisten.tirol/" target="_blank"><img class="mt-3 mb-3" width="150px" height="200%" src="/images/Titelblatt_Tiroler_Chronist.png"/></a>
          <a href="https://www.stol.it/artikel/kultur/zeitshift-digital-in-gesterns-zukunft" target="_blank"><img class="mt-3 mb-3" width="150px" height="100%" src="/images/stol-logo.jpg"/></a>
      </div>
  </div>
</section>



<section class="section section-sm container-fluid mt-4 mb-4">
<div class="container flex-column">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8 col-lg-8 col-xl-8">
      <div class="card">
        <div class="card-bar"></div>
        <div class="card-body">
          <!--https://follow.it/all4ling?action=followPub1-->
          <form data-v-4c58e686="" action="https://api.follow.it/subscription-form/a2NKOEJGNnB6bWtodG9WWEI3MlpDZHl5eFBWWTJQTXB2bXdDQnJ5ZHZYK2tLcWtMQXBrbWNRVlhBYmpGMmd2Q0Jwak9pTk1ER0laaDhZR1JQdW9kaG9PZlhLWHh6TTl0YmpxZTJ0RWJjL01iVWRTeEpGYnBZRUExLzVGZDF6cSt8SE9HcUZ4Tm03aFk3bHVNU0s2dDNVSjV3Nld3TGNiYUhHcGlvRWpuZDc4ND0=/8" method="post">
            <h3 class="h4 card-title">Stay in the loop</h3>
            <p class="card-text">Subscribe to the All4Ling newsletter and get occasional updates.</p>
            <input type="hidden" name="form-name" value="newsletter">

            <div class="row d-flex justify-content-center">
              <div class="col-md-10">
                <input name="name" type="text" class="form-control visually-hidden" placeholder="your name" aria-label="Name">
                <input name="email" type="email" class="form-control" placeholder="your@email.com" spellcheck="false" aria-label="Email address" required="">
                <input name="page" type="hidden" value="https://getdoks.org/">
              </div>

              <div class="col-md-6">
                <button type="submit" class="btn btn-primary w-100" aria-label="Subscribe">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>



{{ end }}
