{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0 navbar-brand">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <!--<a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>-->
      <!--<p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>-->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
        <p><strong>All for Linguistics</strong> (All4Ling) is an initiative of the <a href="https://www.eurac.edu/linguistics/" target="_blank" title="Opens in new tab">Institute of Applied Linguistics of Eurac Research</a> devoted to the development of Citizen Science projects and expertise. As the name suggests, All4Ling focuses on linguistics but is becoming increasingly involved in interdisciplinary Digital Humanities research.</p>
    </div>
    <br /><br />
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <!--<p class="fs-4 mt-4">💬</p>-->
        <h2 class="h4">Computational Linguistics</h2>
        <p>We develop and use language technology to research multilingualism.</p>
      </div>
      <div class="col-lg-5">
        <!--<p class="fs-4 mt-4">💻</p>-->
        <h2 class="h4">Digital Humanities</h2>
        <p>We conduct interdisciplinary research in the humanities and social sciences.</p>
      </div>
      <div class="col-lg-5">
        <!--<p class="fs-4 mt-4">🤝</p>-->
        <h2 class="h4">Citizen Science</h2>
        <p>We actively involve citizens for knowledge acquisition and transfer.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <!--<p class="fs-4 mt-4">📜</p>-->
        <!--<h2 class="h4 mt-0">Cultural Heritage</h2>-->
        <h2 class="h4">Cultural Heritage</h2>
        <p>We collaborate with memory institutions for the preservation of cultural heritage.</p>
      </div>
      <div class="col-lg-5">
        <!--<p class="fs-4 mt-4">🏔</p>-->
        <!--<h2 class="h4 mt-0">Tyrol</h2>-->
        <h2 class="h4">Tyrol</h2>
        <p>We specialise in Tyrolean heritage and culture but our interests transcend national borders.</p>
      </div>
      <div class="col-lg-5">
        <!--<p class="fs-4 mt-4">🌍</p>-->
        <!--<h2 class="h4 mt-0">International</h2>-->
        <h2 class="h4">Internationality</h2>
        <p>We're an international team of researchers working in a trilingual setting.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-md mt-1 bg-light">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center mt-n3">
      <div class="col-lg-7">
        <p class="fs-4 mt-4">✍🏼</p>
        <h2 class="h4 mt-0">Contribute</h2>
        <p>Anyone can contribute to our research projects. Whether you're a student, a researcher, a teacher or an enthusiast, we're looking for volunteers to help us curate data and create new knowledge.</p>
      </div>
      <div class="col-lg-7">
        <p class="fs-4 mt-4">🎓</p>
        <h2 class="h4 mt-0">Learn</h2>
        <p>We strive to turn your valuable contributions into fun and rewarding opportunities for you to learn more about the topic at hand and understand how you're helping advance research.</p>
      </div>
    </div>
  </div>
</section>

{{ partial "all4ling/latest-news.html" . }}

<section class="section section-sm container-fluid bg-light">
<div class="container flex-column">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-md-4 col-lg-4 col-xl-4 justify-content-start ">
      <a href="https://www.eurac.edu/" target="_blank" title="Opens in new tab"><img src="/images/eurac_logo.png" width="100%"/></a>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8">
      <div class="card">
        <div class="container card-body">
          <!--https://follow.it/all4ling?action=followPub1-->
          <form data-v-4c58e686="" action="https://api.follow.it/subscription-form/a2NKOEJGNnB6bWtodG9WWEI3MlpDZHl5eFBWWTJQTXB2bXdDQnJ5ZHZYK2tLcWtMQXBrbWNRVlhBYmpGMmd2Q0Jwak9pTk1ER0laaDhZR1JQdW9kaG9PZlhLWHh6TTl0YmpxZTJ0RWJjL01iVWRTeEpGYnBZRUExLzVGZDF6cSt8SE9HcUZ4Tm03aFk3bHVNU0s2dDNVSjV3Nld3TGNiYUhHcGlvRWpuZDc4ND0=/8" method="post">
            <h3 class="h4 card-title">Stay in the loop</h3>
            <p class="card-text">Subscribe to the All4Ling newsletter and get occasional updates.</p>
            <input type="hidden" name="form-name" value="newsletter">

            <div class="row d-flex justify-content-center">
              <div class="col-md-10">
                <input name="name" type="text" class="form-control visually-hidden" placeholder="your name" aria-label="Name">
                <input name="email" type="email" class="form-control" placeholder="your@email.com" spellcheck="false" aria-label="Email address" required="">
                <input name="page" type="hidden" value="https://getdoks.org/">
              </div>

              <div class="col-md-6">
                <button type="submit" class="btn btn-primary w-100" aria-label="Subscribe">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<!--<section class="section section-sm bg-light">
  <div class="container">
    <div class="row justify-content-center text-center">
      <h2>Our collaborators</h2>
      <div class="col-lg-5">
        <img src="images/innsbruck_logo.png" width="50%"/>
      </div>
      <div class="col-lg-5">
        <img src="images/tessmann_logo.png" width="50%"/>
      </div>
      <div class="col-lg-5">
        <img src="images/tessmann_logo.png" width="50%"/>
      </div>
  </div>
</section>-->

{{ end }}
