<section class="section section-md mt-1 bg-light">
  <div class="container">
     <div class="row text-center">
       <h5>{{ T "AProjectBy" }}</h5>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-around align-items-center">
          <a href="https://www.interreg.net/" target="_blank">
            {{ $image := (resources.GetMatch "/images/interreg_logo.png").Resize "230x" }}
            <img class="mt-2 mb-2" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="Interreg logo" />
          </a>
          <a href="https://www.uibk.ac.at/ulb/" target="_blank">
            {{ $image := (resources.GetMatch "/images/innsbruck_logo.png").Resize "200x" }}
            <img class="mt-2 mb-2" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="Uni Innsbruck logo" />
          </a>
          <a href="https://www.eurac.edu/" target="_blank">
            {{ $image := (resources.GetMatch "/images/eurac_logo.png").Resize "170x" }}
            <img class="mt-2 mb-2" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="Eurac Research" />
          </a>
          <a href="https://www.tessmann.it/" target="_blank">
            {{ $image := (resources.GetMatch "/images/LBT_transparent.png").Resize "250x" }}
            <img class="mt-2 mb-2" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="Teßmann logo" />
          </a>
          <a href="https://www.provincia.bz.it/" target="_blank">
            {{ $image := (resources.GetMatch "/images/bozen_provinz.png").Resize "200x" }}
            <img class="mt-2 mb-2" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="Provinz Bozen logo" />
          </a>
      </div>
  </div>
</section>
