<section class="section section-md mt-1 bg-light">
  <div class="container">
     <div class="row text-center">
       <h5>{{ T "featuredIn" }}</h5>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-around align-items-center">
          <a href="https://eu-citizen.science/project/318" target="_blank">
            {{ with (resources.GetMatch "images/eu-citizen-science_transparent.png").Resize "160x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
          </a>
          <a href="https://www.buergerschaffenwissen.de/projekt/zeitshift-digital-gesterns-zukunft" target="_blank">
            {{ with (resources.GetMatch "images/BsW_Logo-WEB_transparent.png").Resize "200x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
          </a>
          <a href="https://museumsverband.it/de/digital-in-gesterns-zukunft/" target="_blank">
            {{ with (resources.GetMatch "images/MV_logo.png").Resize "260x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
          </a>
          <a href="https://kulturinstitut.org/alle-veranstaltungen/detail/events/Interreg-Projekt%20%E2%80%9EZeit.shift%E2%80%9C.html" target="_blank">
            {{ with (resources.GetMatch "images/suedtiroler-kulturinstitut.png").Resize "170x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
          </a>
          <a href="https://www.bvs.bz.it/news/zeitshift-digital-gesterns-zukunft" target="_blank">
            {{ with (resources.GetMatch "images/BVS-Logo-Deutsch.png").Resize "170x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
          </a>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-around align-items-center">
          <a href="https://www.tiroler-landesmuseen.at/blog_bib_zeit-shift-digital-in-gesterns-zukunft/" target="_blank">
            {{ with (resources.GetMatch "images/tiroler_landesmuseen.png").Resize "150x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
          </a>
          <a href="https://www.tageszeitung.it/2021/11/06/zeit-shift/" target="_blank">
            {{ with (resources.GetMatch "images/Logo_Die_Neue_Suedtiroler_Tageszeitung.png").Resize "200x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
          </a>
          <a href="https://www.chronisten.tirol/" target="_blank">
            {{ with (resources.GetMatch "images/Titelblatt_Tiroler_Chronist.png").Resize "150x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
          </a>
          <a href="https://www.stol.it/artikel/kultur/zeitshift-digital-in-gesterns-zukunft" target="_blank">
            {{ with (resources.GetMatch "images/stol-logo.jpg").Resize "150x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
          </a>
           <a href="http://www.clio-online.de/webresource/id/webresource-75624?title=zeit-shift-digital-in-gesterns-zukunft&recno=2&q=&sort=&fq=&total=10584" target="_blank">
            {{ with (resources.GetMatch "images/clio-online.png").Resize "200x" }}
            <img class="mt-2 mb-2" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
           </a>
      </div>
  </div>
</section>
